@{
    ViewBag.Title = "О нас ";
}
<br>
<br>

<body style="font-family:Courier New, monospace, sans-serif">
    <center>
        <div class="container">
            <h5>
                <u><strong><li>О МАГАЗИНЕ</li>  </strong>  </u>
                <p>
                    <strong> «charms» </strong> — российская торговая сеть по созданию и  продаже парфюмерии. Сетью «charms» управляет компания «Make и Up».
                    <br> <strong> «charms» </strong> предлагает продукцию, которая будет создана индивидуально для вас. В сети работают 150 магазинов, расположенных в 100 городах Российской Федерации. В нашем магазине парфюмерии charms каждый может создать и купить свой собственный аромат. В нашем каталоге более 100 различных ароматов для создания ваших собсвенных духов. Кроме того, ассортимент постоянно пополняется!
                </p>
                <p>
                    За время развития проекта многое было сделано, а еще больше нам предстоит реализовать, но что бы мы ни делали, нашей основной задачей была, есть и будет качественная работа с клиентами с одной единственной целью, чтобы как можно большее количество наших покупателей стали нашими постоянными клиентами и рекомендовали нас своим близким, друзьям и знакомым.
                </p>
                <p>
                    <u><strong><li>ПОЛИТИКА РАБОТЫ С КЛИЕНТАМИ</li></strong></u>
                    <br>Одновременно с идеей создания интернет-магазина мы определили базовые принципы работы, от которых не будем отступать ни на шаг. Таким образом, качественное обслуживание клиентов стало ключевым элементом нашей деятельности. За долгое время работы в сфере розничных продаж мы получили четкое представление о том, кто такой клиент, и как следует строить с ним работу. Ежедневно мы делаем все возможное, чтобы каждый наш покупатель остался доволен работой магазина, рекомендовал нас своим родным, друзьям и знакомым.
                <p>
                    Мы выбираем надежных, проверенных поставщиков. Мы гарантируем подлинность товара, что подтверждается сертификатами.
                </p>
                </p>
                <p>

                    <u><strong><li>КАЧЕСТВО РЕАЛИЗУЕМЫХ ТОВАРОВ</li></strong></u>
                    <br>Вопрос качества в такой товарной группе, как парфюмерия, занимает первое место в сомнениях посетителей любого сайта интернет-магазина духов. Многие покупатели признаются в своих отзывах в том, что немного боялись перед тем, как совершить покупку в интернет-магазине. Мы вас прекрасно понимаем и разделяем ваши переживания. Дело в том, что интернет зачастую воспринимается не как альтернативная торговая площадка розничному магазину, а как хорошая возможность для продавца реализовывать товары ненадлежащего качества.
                </p>
            </h5>
            <img src="https://sun9-4.userapi.com/impg/Yo4fVxKnVsiQrjSn6y8gDoTXv3a7wJorgVBTKQ/Fu3wu2MZvU0.jpg?size=427x351&quality=96&sign=e2cedde9d729d00d08178026610340c3&type=album" width="350" height="300">
    </center>
    </div>

