@{
    ViewBag.Title = "Контакты";
}
<br>
<br>
<body style="font-family:Courier New, monospace, sans-serif">
    <div class="site-contact">
        <div class="container">
            <center><h1>-Как с нами связаться:-</h1></center>

            <h5>
                <br><li>
                    665805, Иркутская область, город Ангарск, 22 мкрорайон, дом 42

                    <br>
                <li>
                    Телефон горячей линии: <u>(3955)71-61-55</u>

                    <br>
                <li>
                    Телефон для информации о заказе: <u>(3955) 12-70-71</u>

                    <br>
                <li>Адрес электронной почты: <u>charms@angarsk.ru</u>
            </h5>
            <center><img src="https://sun9-4.userapi.com/impg/Yo4fVxKnVsiQrjSn6y8gDoTXv3a7wJorgVBTKQ/Fu3wu2MZvU0.jpg?size=427x351&quality=96&sign=e2cedde9d729d00d08178026610340c3&type=album" width="350" height="300"></center>
        </div>

    </div>
