@{
    ViewBag.Title = "Главная";
}
<style type="text/css">
    .jumbotron {
        background: #FFC0CB;
        border: 2px double #FFC0CB;
        color: black;
    }
</style>
<body style="font-family:Courier New, monospace, sans-serif">
    <center>
        <div class="jumbotron text-center ">
            <h1 class="display-4">charms</h1>
            <h5><u>Your aroma - your rules</h5></u>
            <br>
            <br>
            <h4>
                Магазин <strong>«charms»</strong> – это дверь в сказочную страну ароматов. Мы предлагаем своим
                покупателям  возможность создать свой собственный аромат.
            </h4>
    </center>

    <h2>Почему именно мы ?</h2>
    <div class="body-content">


        <div class="row">
            <div class="col-lg-4">
                <img src="https://sun9-29.userapi.com/impg/mkH-eHX1wRj47UIWVYcASKriGILXbEIHzFAyrA/-SgPc7KL6YI.jpg?size=400x320&quality=96&sign=c9f3d10760da28d3f2c1e76ca1f653c2&type=album">
                <br>  <center><h5>|В нашем магазине существует множество скидок и акции для удобства наших клиентов|</h5></center>

            </div>



            <div class="col-lg-4">
                <img src="https://sun9-81.userapi.com/impg/Wp4oblEgXgcs87dHzO35p661A5y01iYC5pg3VA/uUaIz3k_kVc.jpg?size=400x308&quality=96&sign=3e57578cd39bba2b29467f44ba22c770&type=album">
                <br>
                <br>
                <center>  <h5> |Возможность создать свой собственный и неповторимый аромат|</h5> </center>

            </div>



            <div class="col-lg-4">
                <img src="https://sun9-49.userapi.com/impg/bM9t99o6rnomcL3iXRYiaXVTuA8Xrc_uPlyoIA/Md6_gaP4Yt0.jpg?size=400x309&quality=96&sign=ca281b59d97efb816de9816593d18140&type=album">
                <br><br><center><h5>| В нашем магазине  действует доставка по всей Росии и странам СНГ|</h5> </center>



            </div>

        </div>
    </div>
    </center>
